.footer {
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #000000;
	text-align: center;
	transition: all 1s ease-in-out;

	&.visible {
		height: 64px;
	}

	.loader {
		display: inline-block;
		background: #000000 url('../gfx/loader.gif') no-repeat center center;
		animation: loader 1s steps(11, end) infinite;
		background-position-x: 0;
		height: 64px;
		width: 64px;
	}
}

@keyframes loader {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: -11*64px;
	}
}
