@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_login.scss";
@import "_loader.scss";
@import "_servers.scss";

html, body {
	height: 100%;
}

body {
	padding: 40px 0 40px;

	&.loading {
		.btn {

		}
	}
}

.main {
	.container {
		margin-top: 20px;
	}
}
